

  <body class="text-center">

    <div class="login">
    <form  [formGroup]="loginForm" class="login-container"  (ngSubmit)="login()">

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
     
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
      <input type="email" formControlName="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      </p>

      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>


      <label for="inputPassword" class="sr-only">Password</label>

      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
      <input type="password" id="inputPassword" class="form-control" formControlName="password" placeholder="Password" required>
      </p>


      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>

      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>

      <p>
      <button class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">Sign in</button>
      </p>
      
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </div>
  </body>
 
